@model HospitalManagement.Hospital
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Delete</title>
</head>
<style>
    * {
        margin: 0 0 0;
    }

    .header {
        width: 100vw;
        height: 10vh;
        /*border: solid red;*/
        display: flex;
        flex-direction: row;
        background-color: lightblue;
    }

    .logo {
        width: 10vw;
        /*border: solid red;*/
    }

    .heading {
        width: 85vw;
        /*border: solid blue;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 40px;
    }
</style>
<body>
    <div>
        <div class="header">
            <div class="logo">
                <img style="width:100%; height:100%" src="https://t3.ftcdn.net/jpg/05/14/36/48/360_F_514364850_xLOQX6SOY2qcjAIcTowsi3xYvHmhmvs0.jpg" />
            </div>
            <div class="heading">
                Hospital Management
            </div>
        </div>
        <hr />
        <h3>Are you sure you want to delete this?</h3>

        <dl class="dl-horizontal">
            <dt>Hospital Name</dt>
            <dd data-bind="text: HospitalName"></dd>

            <dt>Hospital Speciality</dt>
            <dd data-bind="text: HospitalSpeciality"></dd>

            <dt>Hospital Address</dt>
            <dd data-bind="text: HospitalAddress"></dd>

            <dt>Hospital City</dt>
            <dd data-bind="text: HospialCity"></dd>

            <dt>Contact Number</dt>
            <dd data-bind="text: HospitalContactNumber"></dd>

            <dt>Hospital Area</dt>
            <dd data-bind="text: HospitalArea"></dd>
        </dl>
    </div>
    @using (Html.BeginForm("Delete", "Hospitals", new { id = Model.HospitalId }))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10" style="width:20vw; position:relative; right:250px">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@Url.Action("Index", "Hospitals")">Back to List</a>
        </div>
    }
    @{
        var listData = ViewData["ListValue"] as List<HospitalManagement.Hospital>;
    }
    <br />

    @if (listData.Count > 0)
    {
        <br />
        <br />
        <div class="row col-md-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th> HospitalId</th>
                        <th> HospitalName </th>
                        <th> HospitalSpeciality</th>
                        <th> HospitalAddress</th>
                        <th> HospialCity</th>
                        <th> HospitalContactNumber</th>
                        <th> HospitalArea</th>
                        <th> Actions</th>
                    </tr>
                    @foreach (var item in ViewData["ListValue"] as List<HospitalManagement.Hospital>)
                    {
                    <tr>
                        <td> @item.HospitalId</td>
                        <td> @item.HospitalName</td>
                        <td> @item.HospitalSpeciality</td>
                        <td> @item.HospitalAddress</td>
                        <td> @item.HospialCity</td>
                        <td> @item.HospitalContactNumber</td>
                        <td> @item.HospitalArea</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.HospitalId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.HospitalId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.HospitalId })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <button>
        @Html.ActionLink("Create New", "Create")
    </button>
    <script>
        function HospitalViewModel() {
            var self = this;

            // Observable properties
            self.HospitalName = ko.observable();
            self.HospitalSpeciality = ko.observable();
            self.HospitalAddress = ko.observable();
            self.HospialCity = ko.observable();
            self.HospitalContactNumber = ko.observable();
            self.HospitalArea = ko.observable();

            // Apply bindings
            ko.applyBindings(self);
        }

        // Create view model instance
        var viewModel = new HospitalViewModel();

        // Set the values of observables from server-side model
        viewModel.HospitalName("@Html.DisplayFor(model => model.HospitalName)");
        viewModel.HospitalSpeciality("@Html.DisplayFor(model => model.HospitalSpeciality)");
        viewModel.HospitalAddress("@Html.DisplayFor(model => model.HospitalAddress)");
        viewModel.HospialCity("@Html.DisplayFor(model => model.HospialCity)");
        viewModel.HospitalContactNumber("@Html.DisplayFor(model => model.HospitalContactNumber)");
        viewModel.HospitalArea("@Html.DisplayFor(model => model.HospitalArea)");
    </script>

</body>
</html>

<script>
    function HospitalViewModel() {
        var self = this;

        // Observable properties
        self.HospitalName = ko.observable("@Html.Raw(Model.HospitalName)");
        self.HospitalSpeciality = ko.observable("@Html.Raw(Model.HospitalSpeciality)");
        self.HospitalAddress = ko.observable("@Html.Raw(Model.HospitalAddress)");
        self.HospialCity = ko.observable("@Html.Raw(Model.HospialCity)");
        self.HospitalContactNumber = ko.observable("@Html.Raw(Model.HospitalContactNumber)");
        self.HospitalArea = ko.observable("@Html.Raw(Model.HospitalArea)");
    }

    // Create view model instance
    var viewModel = new HospitalViewModel();

    // Apply bindings
    ko.applyBindings(viewModel);
</script>
</body>
</html>
