@model HospitalManagement.Hospital

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Details</title>
</head>
<style>
    * {
        margin: 0 0 0;
    }

    .header {
        width: 100vw;
        height: 10vh;
        /*border: solid red;*/
        display: flex;
        flex-direction: row;
        background-color: lightblue;
    }

    .logo {
        width: 10vw;
        /*border: solid red;*/
    }

    .heading {
        width: 85vw;
        /*border: solid blue;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 40px;
    }
</style>
<body>
    <div>
        <div class="header">
            <div class="logo">
                <img style="width:100%; height:100%" src="https://t3.ftcdn.net/jpg/05/14/36/48/360_F_514364850_xLOQX6SOY2qcjAIcTowsi3xYvHmhmvs0.jpg" />
            </div>
            <div class="heading">
                Hospital Management
            </div>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Hospital Id
            </dt>
            <dd data-bind="text: HospitalId"></dd>
            <dt>
                Hospital Name
            </dt>
            <dd data-bind="text: HospitalName"></dd>

            <dt>
                Hospital Speciality
            </dt>
            <dd data-bind="text: HospitalSpeciality"></dd>

            <dt>
                Hospital Address
            </dt>
            <dd data-bind="text: HospitalAddress"></dd>

            <dt>
                Hospital City
            </dt>
            <dd data-bind="text: HospialCity"></dd>

            <dt>
                Contact Number
            </dt>
            <dd data-bind="text: HospitalContactNumber"></dd>

            <dt>
                Hospital Area
            </dt>
            <dd data-bind="text: HospitalArea"></dd>
        </dl>
    </div>

    <button>
        @Html.ActionLink("Edit", "Edit", new { id = Model.HospitalId })
    </button>
    <button>
        @Html.ActionLink("Back to List", "Index")
    </button>
    @{
        var listData = ViewData["ListValue"] as List<HospitalManagement.Hospital>;
    }

    @if (listData.Count > 0)
    {
        <div class="row col-md-12">
            <table class="table table-bordered">
                <tbody>

                    <tr>
                        <th> HospitalId </th>
                        <th> HospitalName </th>
                        <th> HospitalSpeciality</th>
                        <th> HospitalAddress</th>
                        <th> HospialCity</th>
                        <th> HospitalContactNumber</th>
                        <th> HospitalArea</th>
                        <th> Actions</th>
                    </tr>
                    @foreach (var item in ViewData["ListValue"] as List<HospitalManagement.Hospital>)
                    {
                        <tr>
                            <td> @item.HospitalId</td>
                            <td> @item.HospitalName</td>
                            <td> @item.HospitalSpeciality</td>
                            <td> @item.HospitalAddress</td>
                            <td> @item.HospialCity</td>
                            <td> @item.HospitalContactNumber</td>
                            <td> @item.HospitalArea</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.HospitalId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.HospitalId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.HospitalId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <script>
        function HospitalViewModel() {
            var self = this;

            // Observable properties
            self.HospitalId = ko.observable("@Model.HospitalId");
            self.HospitalName = ko.observable("@Model.HospitalName");
            self.HospitalSpeciality = ko.observable("@Model.HospitalSpeciality");
            self.HospitalAddress = ko.observable("@Model.HospitalAddress");
            self.HospialCity = ko.observable("@Model.HospialCity");
            self.HospitalContactNumber = ko.observable("@Model.HospitalContactNumber");
            self.HospitalArea = ko.observable("@Model.HospitalArea");

            // Apply bindings
            ko.applyBindings(self);
        }

        // Create view model instance
        var viewModel = new HospitalViewModel();
    </script>
</body>
</html>
