@model HospitalManagement.Hospital

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Details</title>
    <style>
        * {
            margin: 0 0 0;
        }

        .header {
            width: 100vw;
            height: 10vh;
            display: flex;
            flex-direction: row;
            background-color: lightblue;
        }

        .logo {
            width: 10vw;
        }

        .heading {
            width: 85vw;
            /*border: solid blue;*/
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 40px;
        }

        .middle-container {
            width: 40vw;
            height: 40vh;
            /*border: solid black;*/
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            margin-top: 50px;
        }

        .sep-container {
            /*border: solid blue;*/
            display: flex;
            flex-direction: row;
        }

        .ques {
            width: 15vw;
            /*border: solid green;*/
        }

        .ans {
            width: 20vw;
            /*border: solid yellow;*/
        }
    </style>
</head>
<body>
    <div>
        <div class="header">
            <div class="logo">
                <img style="width:100%; height:100%" src="https://t3.ftcdn.net/jpg/05/14/36/48/360_F_514364850_xLOQX6SOY2qcjAIcTowsi3xYvHmhmvs0.jpg" />
            </div>
            <div class="heading">
                Hospital Management
            </div>
        </div>
        <hr />

        <div class="middle-container">
            <div class="sep-container">
                <div class="ques">
                    Hospital Name
                </div>
                <div class="ans">
                    @Html.DisplayFor(model => model.HospitalName)
                </div>
            </div>
            <div class="sep-container">

                <div class="ques">
                    Hospital Speciality
                </div>
                <div class="ans">
                    @Html.DisplayFor(model => model.HospitalSpeciality)
                </div>
            </div>

            <div class="sep-container">

                <div class="ques">
                    Hospital Address
                </div>
                <div class="ans">
                    @Html.DisplayFor(model => model.HospitalAddress)
                </div>
            </div>

            <div class="sep-container">

                <div class="ques">
                    Hospital City
                </div>
                <div class="ans">
                    @Html.DisplayFor(model => model.HospialCity)
                </div>
            </div>

            <div class="sep-container">

                <div class="ques">
                    Hospital Contact Number
                </div>
                <div class="ans">
                    @Html.DisplayFor(model => model.HospitalContactNumber)
                </div>
            </div>

        </div>
        <button style="position:relative; margin-left:200px">@Html.ActionLink("Edit", "Edit", new { id = Model.HospitalId }) </button>
    </div>
    <br />
    <br />
    <button>@Html.ActionLink("Back to List", "Index")</button>

    <script>
        function ViewModel() {
            var self = this;
            self.HospitalId = ko.observable('@Model.HospitalId');
            self.HospitalName = ko.observable('@Model.HospitalName');
            self.HospitalSpeciality = ko.observable('@Model.HospitalSpeciality');
            self.HospitalAddress = ko.observable('@Model.HospitalAddress');
            self.HospitalCity = ko.observable('@Model.HospialCity');
            self.HospitalContactNumber = ko.observable('@Model.HospitalContactNumber');
        }

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    </script>
</body>
</html>