@model HospitalManagement.Hospital

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<style>
    * {
        margin: 0 0 0;
    }

    .header {
        width: 100vw;
        height: 10vh;
        /*border: solid red;*/
        display: flex;
        flex-direction: row;
        background-color: lightblue;
    }

    .logo {
        width: 10vw;
        /*border: solid red;*/
    }

    .heading {
        width: 85vw;
        /*border: solid blue;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 40px;
    }
    .dl-horizontal {
        width: 70vw;
        height: 70vh;
        /*border: solid black;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position:relative;
        margin-top:50px;
    }

    .ques-ans {
        width: 20vw;
        height: 10vh;
        /*border: solid green;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-right: 500px;
    }
</style>
<body>
    <div>
        <div class="header">
            <div class="logo">
                <img style="width:100%; height:100%" src="https://t3.ftcdn.net/jpg/05/14/36/48/360_F_514364850_xLOQX6SOY2qcjAIcTowsi3xYvHmhmvs0.jpg" />
            </div>
            <div class="heading">
                <h2>Hospital Management</h2>
            </div>
        </div>

        <dl class="dl-horizontal">
            <div class="ques-ans">
                <dt class="ques">
                    @Html.DisplayNameFor(model => model.HospitalName)
                </dt>

                <dd class="ans">
                    @Html.DisplayFor(model => model.HospitalName)
                </dd>
            </div>

            <div class="ques-ans">
                <dt class="ques">
                    @Html.DisplayNameFor(model => model.HospitalSpeciality)
                </dt>

                <dd class="ans">
                    @Html.DisplayFor(model => model.HospitalSpeciality)
                </dd>
            </div>

            <div class="ques-ans">
                <dt class="ques">
                    @Html.DisplayNameFor(model => model.HospitalAddress)
                </dt>

                <dd class="ans">
                    @Html.DisplayFor(model => model.HospitalAddress)
                </dd>
            </div>

            <div class="ques-ans">
                <dt class="ques">
                    @Html.DisplayNameFor(model => model.HospialCity)
                </dt>

                <dd class="ans">
                    @Html.DisplayFor(model => model.HospialCity)
                </dd>
            </div>
            <div class="ques-ans">
                <dt class="ques">
                    @Html.DisplayNameFor(model => model.HospitalContactNumber)
                </dt>

                <dd class="ans">
                    @Html.DisplayFor(model => model.HospitalContactNumber)
                </dd>
            </div>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.HospitalId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
