@model HospitalManagement.Hospital

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Edit</title>
</head>
<style>
    * {
        margin: 0 0 0;
    }

    .header {
        width: 100vw;
        height: 10vh;
        /*border: solid red;*/
        display: flex;
        flex-direction: row;
        background-color: lightblue;
    }

    .logo {
        width: 10vw;
        /*border: solid red;*/
    }

    .heading {
        width: 85vw;
        /*border: solid blue;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 40px;
    }

    .middle-container{
        width:80vw;
        height:50vh;
        /*border:solid red;*/
        display:flex;
        flex-direction:column;
        justify-content:center;
        
    }
    .form-group {
        width: 40vw;
        height: 10vh;
        /*border: solid black;*/
        display: flex;
        flex-direction: row;
        justify-content:center;
    }
</style>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form action="#" method="put" s>

            <div class="header">
                <div class="logo">
                    <img style="width:100%; height:100%" src="https://t3.ftcdn.net/jpg/05/14/36/48/360_F_514364850_xLOQX6SOY2qcjAIcTowsi3xYvHmhmvs0.jpg" />
                </div>
                <div class="heading">
                    Hospital Management
                </div>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.HospitalId)
            <div class="middle-container">

                <div class="form-group">
                    @Html.LabelFor(model => model.HospitalName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-md-offset-3">
                        @Html.EditorFor(model => model.HospitalName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: HospitalName" } })
                        @Html.ValidationMessageFor(model => model.HospitalName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HospitalSpeciality, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-md-offset-3">
                        @Html.EditorFor(model => model.HospitalSpeciality, new { htmlAttributes = new { @class = "form-control" , data_bind = "value: HospitalSpeciality" } })
                        @Html.ValidationMessageFor(model => model.HospitalSpeciality, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HospitalAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-md-offset-3">
                        @Html.EditorFor(model => model.HospitalAddress, new { htmlAttributes = new { @class = "form-control", data_bind = "value: HospitalAddress" } })
                        @Html.ValidationMessageFor(model => model.HospitalAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HospialCity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-md-offset-3">
                        @Html.EditorFor(model => model.HospialCity, new { htmlAttributes = new { @class = "form-control", data_bind = "value: HospialCity" } })
                        @Html.ValidationMessageFor(model => model.HospialCity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HospitalContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-md-offset-3">
                        @Html.EditorFor(model => model.HospitalContactNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: HospitalContactNumber" } })
                        @Html.ValidationMessageFor(model => model.HospitalContactNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="position:relative; margin-left:218px">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>

                <div>
                    <button>@Html.ActionLink("Back to List", "Index")</button>
                </div>
            </div>
        </form>
    }
</body>
</html>
