@model IEnumerable<HospitalManagement.Hospital>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <button>
        @Html.ActionLink("Create New", "Create")
    </button>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HospitalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalSpeciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospialCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalArea)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalSpeciality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospialCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalArea)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.HospitalId }) |
                @Html.ActionLink("Details", "Details", new { id=item.HospitalId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.HospitalId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
